---
import Layout from "../layouts/Layout.astro";
import { App } from "../components/ContributeGraph";
---

<Layout title="Activity Booster">
  <header class="text-center mt-10">
    <h1>Activity <span class="text-gradient">Booster</span></h1>
  </header>

  <main class="container max-w-3xl mx-auto flex flex-col px-2 md:px-0">
    <span
      id="loading"
      class="loading loading-dots loading-lg mx-auto text-[#38b000]"></span>

    <App client:only="solid" />

    <article class="prose max-w-none prose-h2:my-4 mt-14">
      <h2>How it works?</h2>
      <p>
        This tool runs entirely in your browser. It creates a Git repository
        that, when pushed to your GitHub account, will update your activity
        graph. Please note that it may take several minutes for GitHub to
        reflect these changes.
      </p>
      <h2>How to push to my Github account?</h2>
      <p>
        To easily create and push a new private repository to your GitHub
        account, follow these steps using the GitHub CLI tool.
      </p>

      <div class="mockup-code not-prose">
        <pre data-prefix="$"><code>unzip activity-repo.zip -d REPO</code></pre>
        <pre data-prefix="$"><code>cd REPO</code></pre>
        <pre data-prefix="$"><code>gh auth login</code></pre>
        <pre
          data-prefix="$"><code>gh repo create REPO --private --push --source .</code></pre>
      </div>

      <h2>Why is not working?</h2>
      <p>
        If you have followed the steps above and made the repository private,
        you need to enable private contributions in your GitHub profile. To do
        this, go to your profile, select <b>Contribution settings</b>, and then
        enable <b>Private contributions</b>.
      </p>
    </article>

    <footer class="group mt-20 py-10 text-base text-center flex-1">
      Made with <span
        class="group-hover:text-red-600 transition-all duration-300">♥️</span
      > by <a class="link" href="https://github.com/carlosqsilva"
        >Carlos Silva</a
      > in 🇧🇷
      <div class="flex justify-center mt-10">
        <a href="https://www.buymeacoffee.com/carlossilva" target="_blank">
          <img
            src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png"
            alt="Buy Me A Coffee"
            style="height: 48px !important;width: 180px !important;"
            class="group-hover:scale-110 duration-500 transition-transform"
          />
        </a>
      </div>
    </footer>
  </main>
</Layout>

<style>
  header h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
