---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="custom">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="py-1 min-h-screen">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	body {
  	background-image: url(/bg-grid.png);
    background: radial-gradient(
      100% 100% at 50% 100%,
      rgb(27, 0, 76) 15%,
      rgba(2, 6, 23, 0.8) 90%,
      rgba(2, 6, 23, 0) 100%
    ), url(/bg-grid.png);
	}

	[data-theme="custom"] .btn[disabled] {
	   --tw-bg-opacity: 1;
	   --tw-text-opacity: 0.8;
  }
</style>
